


/* HOME PAGE TILES */
#home-content {
  margin-top: 15px;
}

#charts-content {
  margin: 0px;
  background-color: white
  overflow: hidden;
}

.home-tile {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #EFEFEF;


}
.home-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
  font-size: 1.15em;
  border: 2px solid #CFCFCF;
}

.home-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.00em;
  background-color: #563E7C;
  overflow: hidden;
  color: #fff;
  opacity: 1;
}

/* END HOME PAGE TILES */



/** Begin Google Chart Widget Page **/
#google-chart-content {

}
/** End Google Chart Widget Page **/

/** Begin Widgets **/
.widget {
    background-color: white;
    width: 75%%;
    margin: 5%;
    padding: 2.5%;

    object-fit: scale-down;
/*    background-color: red; */

}

.widget-object {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-color: white;
/*  border:1px solid green; */
  padding: 10px;
/*  margin: 0 auto; */

  overflow: scroll;
  object-fit: scale-down;

}


.widget-left {

}

.widget-right {

}

.widget h3, p, ul, li {
  background-color: inherit;
  margin-left: 25px;
}
.widget p {
  text-align: justify;
}

/** End Widgets **/


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  /* End Header */

  /* Footer */

  /* End Footer */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */

  /* End Header */
}
