/* APP Styles */

.svg-container {
    /*background-color: purple;*/
    display: inline-block;
    position: relative;
    width: 100%;
    height: inherit;
    padding-bottom: 0%; /* aspect ratio */
    vertical-align: center;
    overflow: hidden;
}
.svg-content-responsive {
    /*background-color: green;*/
    display: inline-block;
    margin: auto;
    height: inherit;

    position: absolute;
    top: 0px;
    left: 0;
}

.app-banner-title-lawrence {
  width: 500px;
  position: absolute;
  top: 150px;
  right: 200px;
  text-align: right;
  color:#F1F1F1;
  font-family: 'Permanent Marker', cursive;

  opacity: 0.5;
  font-size: 3.5em;
  padding-left: 5px;
  padding-top:5px;

  -ms-transform: rotate(-25deg); /* IE 9 */
  -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
  transform: rotate(-25deg);
}
}
.app-banner-title-lawrence span {
  color:#266CF8;        /* matching blue to the shop of horrors "OF" text */
}

.app-banner-title {
  width: 500px;
  position: absolute;
  top: 150px;
  right: 10px;
  text-align: right;
  color:#f1f1f1;
}
.app-banner-title span {
  opacity: 0.5;
  /*color:#266CF8;         matching blue to the shop of horrors "OF" text */
  color: gold;
}


.app-banner-subtitle {
  width: 500px;
  position: absolute;
  top: 190px;
  right: 10px;
  color:gold;
  opacity: 0.5;
  text-align: right;
  font-size: 1em;
}

/** HEADER **/
.app-header {
  border-radius: 0;
  border: 0;
  background-image: url('../images/Little_Shop_Of_Horrors_Pic.png');
  background-position: left bottom;
  background-size: 300px;
  background-blend-mode: luminosity;
  height: 300px;
  margin-top: 50px;
  background-color: #563d7c;      /* royal purple */
  background-repeat: no-repeat;
  overflow: hidden;
}

.app-header img {
  opacity: 0.250;
}

.google-logo {
  position: relative;
  float: right;
  margin-right: 10px;
  background-color: transparent;

  top: 5px;
  right: 0px;
  width: 100px;
}

.gears-logo {
  position: relative;
  float: right;
  clear: right;
  margin-right: 5px;
  margin-top: 20px;
  background-color: transparent;

  bottom: 0px;
  right: 0px;
  height: 200px;
}

/* APP Styles */

/* HOME PAGE TILES */
#home-content {
  margin-top: 15px;
}

.home-tile {
  width: 100%;
  height: 500px;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #F1F1F1 ;
  border-radius: 5px;
  overflow:hidden ;
  background-color: white;
  border: 1px solid #EFEFEF;


}
.home-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
  font-size: 1.15em;
  border: 2px solid #CFCFCF;
}

.home-tile-title  {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.00em;
  background-color: #563E7C;
  overflow: hidden;
  color: #fff;
  opacity: 1;
}

.home-tile-credit  {
  position: absolute;
  bottom: 0;

  width: 50%;
  text-align: center;
  font-size: .65em;
  background-color: #563E7C;
  overflow: hidden;
  color: #fff;
  opacity: .5;
}

.home-tile-credit:hover  {
  opacity: 1;
}

.home-tile-credit-author  {
  right: 0;
}

.home-tile-credit-sourcecode  {
  left: 0;
}



/* END HOME PAGE TILES */



/** Begin Google Chart Widget Page **/

.chart-html-popover {
  margin: 10px;
  color: black;
  font-size: .85em;
  font-weight: lighter;
  font-style: italic;
  background-color: white;
}

.chart-html-popover p {
  margin-top: 5px;
  padding-left: 0px;
  margin-left: 0px;
}


/** Begin Widgets **/
.widget {
    /*background-color: pink;*/
    background-color: white;
    border-radius: 5px;
    width: 75%%;
    margin: 5%;
    padding: 2.5%;

    object-fit: scale-down;
/*    background-color: red; */

}

.widget-object {
  width: 100%;
  height: inherit;
  min-height: 400px;
  background-color: white;
/*  border:1px solid green; */
  padding: 10px;
/*  margin: 0 auto; */

  overflow: scroll;
  object-fit: scale-down;

}

.widget-left {

}

.widget-right {

}

.widget h3, p, ul, li {
  background-color: inherit;
  margin-left: 25px;
}
.widget h3 {
  color: #563d7c;
}

.widget p {
  text-align: justify;
}

/** End Widgets **/


.multi-column-list {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  list-style-position: inside;
	padding: .75em .5em .75em 1em;
 	margin-bottom: 0;
  margin-top: 1.5em;
  margin: 0 0 0 1.5em;
}



/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .finding-nemo-form-column  {
    width: 95%;
  }
  .multi-column-list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .finding-nemo-form-column  {
    width: 95%;
  }

  .multi-column-list {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .finding-nemo-form-column  {
    width: 95%;
  }

  .multi-column-list {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }


}
