/* GLOBAL */
* {
    margin:0;
    padding:0;
}

body {
  font-size: 16px;
  color: black;
  font-family: 'Oxygen', sans-serif;
  background-color: #F1F1F1;
}

h2 {
  margin-bottom: 20px;
  margin-left: 10px;
}

.container {
}

/* END GLOBAL */
.google-logo {
  position: absolute;
  float: right;
  margin-right: 10px;
  background-color: transparent;

  top: 55px;
  right: 0px;
  width: 275px;
}


/* NAVIGATION MENU */

/* END NAVIGATION MENU */

/* BEGIN PAGE */

#charts-header {
  padding-right: 10%;
}

.page-content {
  margin: 0px;
  padding: 10px;
  background-color: white
  overflow: hidden;
}

.page-header p {
  margin-bottom: 20px;
  margin-left: 10px;
}

.three-column-div {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
  column-rule: 2px outset rgba(86, 61, 123, 0.40);
  column-gap: 10px;
}

.three-column-div span {
  font-style: oblique;
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 5px;
  color: #563d7c;
}

.three-column-div p {
  padding-right: 20px;
  padding-left: 20px;
/*
border-bottom: : 1px;
border-bottom-style: inset;
border-bottom-width: medium;
border-bottom-color: gray;
*/
}


.page-alert {
  margin: 25px;
}

.page-alert div {
  background-color: #f2dede;
  margin: 3%;
  font-style:italic;
}


/** End Google Chart Widget Page **/

/* END PAGE */

/** HEADER **/
.app-header {
  border-radius: 0;
  border: 0;
  background-image: url('../images/Little_Shop_Of_Horrors_Pic.png');
  background-position: left bottom;
  background-size: 400px;
  height: 300px;
  margin-top: 50px;
  background-color: #563d7c;
  background-repeat: no-repeat;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 0;
/*  background-color: #222222; */
  color: #F1F1F1;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
/* END FOOTER */



/********** Large devices only **********/
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
  .home-tile {
    min-height: 250px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Home Page */
  .container {
    width: 100%;
  }
  .home-tile {
    min-height: 200px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container {
    width: 100%;
  }
  .home-tile {
    min-height: 150px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Home Page */
  .container {
    width: 100%;
    margin-top: 2%;
    padding: 0;
  }
  .home-tile {
    width: 95%;
    min-height: 125px;
    margin: 0 auto 2%;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Home page */
  .home-tile {
    width: 280px;
    min-height: 100px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
