/* GLOBAL */
* {
    margin:0;
    padding:0;
    background-color: #F1F1F1;
}

body {
  font-size: 16px;
  color: black;
  font-family: 'Oxygen', sans-serif;

}


.container {
}

/* END GLOBAL */

/* NAVIGATION MENU */

/* END NAVIGATION MENU */


/** HEADER **/
.app-header {
  border-radius: 0;
  border: 0;
  background-image: url('../images/Little_Shop_Of_Horrors_Pic.png');
  height: 300px;
  margin-top: 50px;
  background-color: #563d7c;
  background-repeat: no-repeat;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
/* END FOOTER */



/********** Large devices only **********/
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
  .home-tile {
    min-height: 250px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Home Page */
  .container {
    width: 100%;
  }
  .home-tile {
    min-height: 200px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container {
    width: 100%;
  }
  .home-tile {
    min-height: 150px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Home Page */
  .container {
    width: 100%;
    margin-top: 2%;
    padding: 0;
  }
  .home-tile {
    width: 95%;
    min-height: 125px;
    margin: 0 auto 2%;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Home page */
  .home-tile {
    width: 280px;
    min-height: 100px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
