/*-------------------------- D3  ----------------------------------*/
.txt-directive {
  margin: auto;
  height: inherit;
  /*background-color: orange;*/
}

.txt-directive svg {
  /*background-color: tan;*/
  margin: auto;
  height: inherit;
}

#txt-wordcloud {
}



/* Finding Nemo Form */
#search-results {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 35%;
  height: 50%
}
.finding-nemo-form {
  border: 2px solid black;
  background-color: #0F4E83;
  border-radius: 5px;

  float: inherit;
  position: relative;
  overflow: hidden;
  text-align: left;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  padding: : 0%;
}

.finding-nemo-form h2, h4  {
  margin-top: 20px;
  text-align: center;
}

.finding-nemo-form h4  {
  color: red;
  font-size: 1.4em;
  height: 40px;
  border-bottom: 2px white solid;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 25px;
}



.finding-nemo-form-column  {
  float: left;
  width: 50%;
}


#nemo-banner-image {
  width: 95%;
  padding: 5%;
  align-self: center;
}

.finding-nemo-form input  {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 20px;

}


.finding-nemo-form label  {
  width: 95%;
  margin-left: 5px;
}

.finding-nemo-form button  {
  margin-left: 5px;
  align-self: center;
  margin: 10px;
  font-size: 1.6em;
}

.finding-nemo-form span  {
  margin-left: 15px;
  font-weight: bold;
  font-style: oblique;
  color: red;
}



.finding-nemo-form panel  {
  position: absolute;
  bottom: 25%;
  right: 5%;
  width: 40%;
  box-shadow: 0 1px 5px 1px #000;
}

.finding-nemo-form dl, dt, dd {
  color: green;
}

.finding-nemo-form-alert {
  margin-top: 25px;
  margin-right: 25px;
}

.finding-nemo-form-table  {
  border-radius: 5px;
  border: 2px solid #4D7D52;
  margin: 25px;
  margin-bottom: 50px;
  background-color: #DEF0D8;    /* matches light green of alert box */
  color: #4D7D52;               /* matches light green text of alert box */
}

.finding-nemo-form-table table {
  width: 90%;
  margin: 5%;
}


.ng-touched.ng-valid {
  border: 2px green solid;
  background-color: cyan;
}

.ng-touched.ng-invalid {
  border: 4px red solid;
  background-color: yellow;
}



/* END Finding Nemo Form */

/* START Nemo Info */
.userinfo {
  width: 50%;
  height: 80%;
  margin-top: 25px;

}
/* END Nemo Info */



/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .finding-nemo-form-column  {
    width: 95%;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .finding-nemo-form-column  {
    width: 95%;
  }

}
