/** Begin Widgets **/
.widget {
    /*background-color: pink;*/
    position: relative;
    top: 0px;
    left: 0px;

    background-color: white;
    border-radius: 5px;
    width: 75%%;
    margin: 5%;
    padding: 2.5%;

    object-fit: scale-down;
/*    background-color: red; */

}

.widget-object {
  width: 74%;
  height: inherit;
  min-height: 400px;
  background-color: white;
/*  border:1px solid green; */
  padding: 10px;
/*  margin: 0 auto; */

  overflow: scroll;
  object-fit: scale-down;

}

.widget-left {

}

.widget-right {

}

.widget h3, p, ul, li {
  background-color: inherit;
  margin-left: 25px;
}
.widget h3 {
  color: #563d7c;
}

.widget p {
  text-align: justify;
}

.widget-credit  {
  position: relative;
  margin-top: 10px;
  width: 50%;
  text-align: center;
  font-size: .65em;
  background-color: #fff;
  overflow: hidden;
  color: #563d7c;      /* royal purple */;
  opacity: .75;
}
.widget-credit:hover  {
  opacity: 1;
}

.widget-credit-author  {
  float: right;
  right: 0;
}
.widget-credit-author a {
  color: #563d7c;      /* royal purple */;
}
.widget-credit-author a:hover {
  color: DarkGoldenRod;
}

.widget-credit-sourcecode  {
  float: left;
  left: 0;
}

.widget-credit-sourcecode a {
  color: #563d7c;      /* royal purple */;
}
.widget-credit-sourcecode a:hover {
  color: DarkGoldenRod;
}

/*-------------- Widget: View Source Code -----------------------*/
.widget-sourcecode {
  min-height: 0px;

}

.widget-view-sourcecode {
  visibility: visible;

}

.widget-prettyprint-title {
  text-align: right;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-right: 3%;
  color: DarkGoldenRod;
}

.widget-prettyprint-credit {
  text-align: right;
  font-size: .8em;
  margin-right: 3%;
}

.widget-prettyprint-credit a {
  color: DarkGoldenRod;
}

.widget-prettyprint-credit a:hover {
  color: green;
}

/*-------------------------- Widget Sidebar ----------------------------------*/
.widget-sidebar {
  visibility: hidden;
  position: relative;
  float: right;
  top: 0px;
  right: 0  %;
  width: 25%;
  height: 500px;
  border-left: 3px solid;
  border-color: #f1f1f1;
  padding-left: 0px;
  margin-left: 1%;
}

.widget-sidebar p {
font-size: .75em;
font-style: italic;
color: #555;
margin-left: 5px;
padding-left: 5px;
}

.widget-sidebar h4 {
  font-family: 'Permanent Marker', cursive;
  color: #563d7c;      /* royal purple */
  font-size: .85em;
}
/*-------------------------- Widget Sidebar  ----------------------------------*/
/** End Widgets **/

/*-------------- Responsive Styling -----------------------*/

/********** Large devices only **********/
@media (min-width: 1200px) {
  .widget-sidebar {
    visibility: visible;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .widget-sidebar {
    visibility: visible;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .widget-sidebar {
    visibility: visible;
  }



}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  .widget-view-sourcecode {
    visibility: hidden;
  }

}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}
