
<style>
.google-logo {
  position: absolute;
  float: right;
  margin-right: 25px;
  background-color: transparent;

  top: 250px;
  right: 0px;
  width: 275px;
}
</style>
  <script type="text/javascript">
      google.charts.load('current', {
      packages: ['geochart', 'treemap', 'corechart', 'gantt',
                 'intensitymap', 'scatter', 'sankey',
                 'orgchart', 'gauge', 'wordtree']
      });


  </script>

<!-- -------------------------------------------------------------------------------- -->
<div ng-controller="ChartsController">
    <!-- Simple dropdown -->
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="choice in items">
          <a href>{{choice}}</a>
        </li>
      </ul>
    </span>

    <!-- Single button -->
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

    <!-- Split button -->
    <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-danger">Action</button>
      <button type="button" class="btn btn-danger" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

    <!-- Single button using append-to-body -->
    <div class="btn-group" uib-dropdown dropdown-append-to-body>
      <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
        Dropdown on Body <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

    <!-- Single button using template-url -->
    <div class="btn-group" uib-dropdown>
      <button id="button-template-url" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Dropdown using template <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu template-url="dropdown.html" aria-labelledby="button-template-url">
      </ul>
    </div>

    <hr />
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="toggleDropdown($event)">Toggle button dropdown</button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="disabled = !disabled">Enable/Disable</button>
    </p>

    <hr>
    <!-- Single button with keyboard nav -->
    <div class="btn-group" uib-dropdown keyboard-nav>
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Dropdown with keyboard navigation <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem"><a href="#">Action</a></li>
            <li role="menuitem"><a href="#">Another action</a></li>
            <li role="menuitem"><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#">Separated link</a></li>
        </ul>
    </div>

    <hr>
    <!-- AppendTo use case -->
    <h4>append-to vs. append-to-body vs. inline example</h4>
    <div id="dropdown-scrollable-container" style="height: 15em; overflow: auto;">
      <div id="dropdown-long-content">
        <div id="dropdown-hidden-container">
          <div class="btn-group" uib-dropdown keyboard-nav dropdown-append-to="appendToEl">
            <button id="btn-append-to" type="button" class="btn btn-primary" uib-dropdown-toggle>
              Dropdown in Container <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
              <li role="menuitem"><a href="#">Action</a></li>
              <li role="menuitem"><a href="#">Another action</a></li>
              <li role="menuitem"><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group" uib-dropdown dropdown-append-to-body>
            <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
              Dropdown on Body <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
              <li role="menuitem"><a href="#">Action</a></li>
              <li role="menuitem"><a href="#">Another action</a></li>
              <li role="menuitem"><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group" uib-dropdown>
            <button id="btn-append-to-single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
              Inline Dropdown <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
              <li role="menuitem"><a href="#">Action</a></li>
              <li role="menuitem"><a href="#">Another action</a></li>
              <li role="menuitem"><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="dropdown.html">
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
          <li role="menuitem"><a href="#">Action in Template</a></li>
          <li role="menuitem"><a href="#">Another action in Template</a></li>
          <li role="menuitem"><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li role="menuitem"><a href="#">Separated link in Template</a></li>
        </ul>
    </script>
</div>

<!-- -------------------------------------------------------------------------------- -->


<a href="https://developers.google.com/"><img class="google-logo" src="images/google-logo.svg"></a>

<div id="charts-content">
  <div ng-if="chartsCtrl.isNew"><h2>Google Charts</h2></div>

  <p>Custom charts provide a perfect way to visualize data on your website. From simple line charts to complex hierarchical tree maps, the chart gallery provides a large number of ready-to-use chart types.</p>
  <p>The sample charts below are rendered real-time using HTML5. They are fast and flexible, with unlimited options.</p>
  <p>With minimal custom programming I can integrate your data sources with charts just like these.</p>

  <div id="geochart" class="widget widget-left">
    <h3>Region Map</h3>
    <p>A geochart is a map of a country, a continent, or a region with areas identified in one of three ways:</p>
      <ul>
        <li>The region mode colors whole regions, such as countries, provinces, or states.</li>
        <li>The markers mode uses circles to designate regions that are scaled according to a value that you specify.</li>
        <li>The text mode labels the regions with identifiers (e.g., "Russia" or "Asia").</li>
      </ul>
    <p>A geochart is rendered within the browser using SVG or VML. Note that the geochart is not scrollable or draggable, and it's a line drawing rather than a terrain map</p>
    <p>The <code>regions</code> style fills entire regions (typically countries) with colors corresponding to the values that you assign.</p>
    <gc-geochart></gc-geochart>
  </div>

  <div id="geointensity" class="widget widget-right">
    <h3>Geographical Intensity Map</h3>
    <p>
    </p>
    <gc-geointensity></gc-geointensity>
  </div>

  <div id="piechart" class="widget widget-left">
    <h3>Pie Chart</h3>
    <p> </p>
    <gc-piechart></gc-piechart>
  </div>

  <div id="areachart" class="widget widget-right">
    <h3>Line/Area Chart</h3>
    <p> </p>
    <gc-areachart></gc-areachart>
  </div>

  <div id="combochart" class="widget widget-left">
    <h3>Combo Chart</h3>
    <p>
    </p>
    <gc-combochart></gc-combochart>
  </div>

  <div id="barchart" class="widget widget-right">
    <h3>Bar Chart</h3>
    <p>
    </p>
    <gc-barchart></gc-barchart>
  </div>


  <div id="candlestick" class="widget widget-left">
    <h3>High-Low-Close Candlestick</h3>
    <p>
    </p>
    <gc-candlestick></gc-candlestick>
  </div>

  <div id="wordtree" class="widget widget-left">
    <h3>Word Tree</h3>
    <p>
    </p>
    <gc-wordtree></gc-wordtree>
  </div>


  <div id="treemap" class="widget widget-right">
    <h3>Tree Map</h3>
    <p>A visual representation of a data tree, where each node can have zero or more children, and one parent (except for the root, which has no parents). Each node is displayed as a rectangle, sized and colored according to values that you assign. Sizes and colors are valued relative to all other nodes in the graph. You can specify how many levels to display simultaneously, and optionally to display deeper levels in a hinted fashion. If a node is a leaf node, you can specify a size and color; if it is not a leaf, it will be displayed as a bounding box for leaf nodes. The default behavior is to move down the tree when a user left-clicks a node, and to move back up the tree when a user right-clicks the graph
    </p>
    <gc-treemap></gc-treemap>
  </div>

  <div id="guages" class="widget widget-left">
    <h3>Guages</h3>
    <p>
    </p>
    <gc-guages></gc-guages>
  </div>


  <div id="polynomial" class="widget widget-right">
    <h3></a>Polynomial Trend Line</h3>
    <p>
    </p>
    <gc-polynomial></gc-polynomial>
  </div>

  <div id="gantt" class="widget widget-left">
    <h3>Gantt Critical Path</h3>
    <p>
    </p>
    <gc-gantt></gc-gantt>
  </div>

  <div id="scatter" class="widget widget-right">
    <h3>Scatter Diagram</h3>
    <p>
    </p>
    <gc-scatter></gc-scatter>
  </div>

  <div id="bubble" class="widget widget-left">
    <h3>Bubble Correlation</h3>
    <p>
    </p>
    <gc-bubble></gc-bubble>
  </div>

  <div id="sankey" class="widget widget-right">
    <h3>Sankey Diagram</h3>
    <p>
    </p>
    <gc-sankey></gc-sankey>
  </div>

  <div id="orgchart" class="widget widget-left">
    <h3>Org Chart</h3>
    <p>
    </p>
    <gc-orgchart></gc-orgchart>
  </div>

</div>
