<div class="txt-directive finding-nemo-form" ng-controller="NemoformController as ctrl">
  <div ng-if="!ctrl.saved"><h2>Missing Fish Report</h2></div>
  <div><img id="nemo-banner-image" src="/images/nemo-banner.jpeg" alt="Nemo banner"></div>

  <fieldset>
<!--    <legend></legend> -->
      <form name="nemoForm" novalidate>


        <!-- ---------------------------------------- -->
        <!-- UI Bootstrap Typeahead using http: Google Maps API  -->
        <div class="form-group"
              uib-popover-html="htmlPopoverLastLocation"
              popover-placement="top"
              popover-trigger="outsideClick"
              popover-animation="true"
              popover-popup-delay="750"
              popover-title="Did you know?"
              >
            <label for="lastLocation">Anonymous Tip</label>
            <input type="text"
            class="form-control"
            id="lastLocation"
            name="lastLocation"
            ng-model="ctrl.userInfo.lastLocation"
            required
            placeholder="Where did you last see Nemo? (ex: Saint Thomas, VI)"
            uib-typeahead="address for address in getLocation($viewValue)"
            typeahead-loading="loadingLocations"
            typeahead-no-results="noResults"
            >  <!-- closing tag for lastLocation input  -->

            <span ng-if="nemoForm.lastLocation.$invalid && nemoForm.lastLocation.$touched">
                <small>We must know where you last saw Nemo.</small>
            </span>
            <span ng-if="nemoForm.lastLocation.$touched">
<!--                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>   -->
              <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </span>
        </div>

        <h4>Leave a full report</h4>
        <div class="finding-nemo-form-column">
          <div class="form-group">
              <label for="fullName">Full Name</label>
              <input type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"
                    placeholder="Your full name (eg Thurston Howell III)"
                    ng-model="ctrl.userInfo.fullName"
                    required>
              <span ng-if="nemoForm.fullName.$error.required && nemoForm.fullName.$touched">
                  <small>Your full name is required</small>
              </span>
          </div>

          <div class="form-group">
              <label for="phoneNumber">Phone</label>
              <input type="tel"
                    class="form-control"
                    id="phoneNumber"
                    name="phoneNumber"
                    ng-model="ctrl.userInfo.phoneNumber"
                    placeholder="Phone ###-###-####"
                    pattern="(\d{3})-(\d{3})-(\d{4})">
              <span ng-if="nemoForm.phoneNumber.$invalid && nemoForm.phoneNumber.$touched">
                  <small>Phone must be in the format ###-###-####</small>
              </span>
          </div>

          <div class="form-group">
              <label for="favoriteDish">Favorite Character</label>
              <input type="text"
                    class="form-control"
                    id="favoriteDish"
                    name="favoriteDish"
                    placeholder="Name of your favorite Nemo character (example: Marlin)"
                    ng-model="ctrl.userInfo.favoriteDish"
                    ng-blur="ctrl.validateFavdish()">
              <span ng-if="ctrl.itemSearched && !ctrl.validShortCode">
                  <small>No such character exists</small>
              </span>
              <span ng-if="ctrl.validShortCode">
                <!-- <div class="panel panel-primary panel-body user-info" ng-if="ctrl.saved"> -->
                <div id="search-results" class="panel panel-default" ng-if="ctrl.saved">
                    <div  class="panel-heading">{{ctrl.userInfo.favoriteDish}}: {{ctrl.userInfo.dishInfo.name}}
                      <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Description:</dt> <dd>{{ctrl.userInfo.dishInfo.description}}</dd>
                            <dt>Price:</dt> <dd>{{ctrl.userInfo.dishInfo.price_large | currency}}</dd>
                        </dl>
                      </div>
                    </div>
                </div>
              </span>
          </div>

        </div>   <!-- finding-nemo-form-column -->



        <div class="finding-nemo-form-column">

          <div class="form-group"
              uib-popover-html="htmlPopoverIncidentReport"
              popover-trigger="outsideClick"
              popover-placement="top-right"
              popover-animation="true"
              popover-popup-delay="750"
              popover-title="Did you know?"
                >
              <label for="incidentReport">Incident Report</label>
              <input type="textarea"
                    style="height:200px; padding-bottom: 150px;"
                    class="form-control"
                    rows="5"
                    cols="50"
                    id="incidentReport"
                    name="incidentReport"
                    placeholder="Elaborate on your last interaction with Nemo."
                    ng-model="ctrl.userInfo.incidentReport"
                    >  <!-- closing tag for incidentReport input -->
            <!--
          -->
          </div>


        </div> <!-- finding-nemo-form-column -->

      </form>

  </fieldset>
  <button class="btn btn-warning"
          ng-disabled="nemoForm.$invalid"
          ng-click="ctrl.setNemoinfo()">Submit</button>

  <div ng-if="ctrl.saved" class="finding-nemo-form-alert">
      <p class="alert alert-success">
          {{ctrl.message}}
      </p>
  </div>

  <div ng-if="ctrl.receivedResultsFromBingProofService" class="finding-nemo-form-table">
    <span>We Recommend Editing Your Report</span>
    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Text</th>
          <th>Suggested Change</th>
        </tr>
      </thead>
      <tbody ng-repeat="token in ctrl.response.flaggedTokens">
          <tr>
            <td>{{token.offset}}</td>
            <td>{{token.token}}
            <td><p ng-repeat="suggestion in token.suggestions">{{suggestion.suggestion}} ({{ suggestion.score * 100 | number:2 }}%)</p></td>
          </tr>
      </tbody>
    </table>
  </div>

</div>
