<div class="finding-nemo-form" ng-controller="NemoformController as ctrl">
  <div ng-if="!ctrl.saved"><h2>Missing Fish Report</h2></div>
  <div><img id="nemo-banner-image" src="images/nemo-banner.jpeg" alt="Nemo banner"></div>

  <!-------------------------------------------------------------------------------- -->

  <style>
    .typeahead-demo .custom-popup-wrapper {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      background-color: #f9f9f9;
    }

    .typeahead-demo .custom-popup-wrapper > .message {
      padding: 10px 20px;
      border-bottom: 1px solid #ddd;
      color: #868686;
    }

    .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
      position: static;
      float: none;
      display: block;
      min-width: 160px;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  </style>

  <script type="text/ng-template" id="customTemplate.html">
    <a>
        <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
  </script>

  <script type="text/ng-template" id="customPopupTemplate.html">
    <div class="custom-popup-wrapper"
       ng-style="{top: position().top+'px', left: position().left+'px'}"
       style="display: block;"
       ng-show="isOpen() && !moveInProgress"
       aria-hidden="{{!isOpen()}}">
      <p class="message">select location from drop down.</p>

      <ul class="dropdown-menu" role="listbox">
        <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
          ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
          <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </li>
      </ul>
    </div>
  </script>

  <div class='container-fluid typeahead-demo'>

      <h4>Static arrays</h4>
      <pre>Model: {{selected | json}}</pre>
      <input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">

      <h4>Asynchronous results</h4>
      <pre>Model: {{asyncSelected | json}}</pre>
      <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>

      <h4>ngModelOptions support</h4>
      <pre>Model: {{ngModelOptionsSelected | json}}</pre>
      <input type="text" ng-model="ngModelOptionsSelected" ng-model-options="modelOptions" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">

      <h4>Custom templates for results</h4>
      <pre>Model: {{customSelected | json}}</pre>
      <input type="text" ng-model="customSelected" placeholder="Custom template" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">

      <h4>Custom popup templates for typeahead's dropdown</h4>
      <pre>Model: {{customPopupSelected | json}}</pre>
      <input type="text" ng-model="customPopupSelected" placeholder="Custom popup template" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control">
  </div>

  <!-------------------------------------------------------------------------------- -->

  <fieldset>
<!--    <legend></legend> -->
      <form name="nemoForm" novalidate>
          <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="First Name"
                    ng-model="ctrl.userInfo.firstName"
                    required>
              <span ng-if="nemoForm.firstName.$error.required && nemoForm.firstName.$touched">
                  <small>First name is required</small>
              </span>
          </div>
          <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder="Last Name"
                    ng-model="ctrl.userInfo.lastName"
                    required>
              <span ng-if="nemoForm.lastName.$error.required && nemoForm.lastName.$touched">
                  <small>Last name is required</small>
              </span>
          </div>
          <div class="form-group">
              <label for="emailAddress">Email</label>
              <input type="email"
                    class="form-control"
                    id="emailAddress"
                    name="emailAddress"
                    placeholder="Email"
                    ng-model="ctrl.userInfo.emailAddress"
                    required>
              <span ng-if="nemoForm.emailAddress.$invalid && nemoForm.emailAddress.$touched">
                  <small>Must be a valid email address: handle@domain format</small>
              </span>
          </div>
          <div class="form-group">
              <label for="phoneNumber">Phone</label>
              <input type="tel"
                    class="form-control"
                    id="phoneNumber"
                    name="phoneNumber"
                    ng-model="ctrl.userInfo.phoneNumber"
                    placeholder="Phone ###-###-####"
                    pattern="(\d{3})-(\d{3})-(\d{4})">
              <span ng-if="nemoForm.phoneNumber.$invalid && nemoForm.phoneNumber.$touched">
                  <small>Phone must be in the format ###-###-####</small>
              </span>
          </div>
          <div class="form-group">
              <label for="favoriteDish">Favorite Character</label>
              <input type="text"
                    class="form-control"
                    id="favoriteDish"
                    name="favoriteDish"
                    placeholder="Name of your favorite Nemo character (example: Marlin)"
                    ng-model="ctrl.userInfo.favoriteDish"
                    ng-blur="ctrl.validateFavdish()">
              <span ng-if="ctrl.itemSearched && !ctrl.validShortCode">
                  <small>No such character exists</small>
              </span>
              <span ng-if="ctrl.validShortCode">
                <!-- <div class="panel panel-primary panel-body user-info" ng-if="ctrl.saved"> -->
                <div id="search-results" class="panel panel-default" ng-if="ctrl.saved">
                    <div  class="panel-heading">{{ctrl.userInfo.favoriteDish}}: {{ctrl.userInfo.dishInfo.name}}
                      <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Description:</dt> <dd>{{ctrl.userInfo.dishInfo.description}}</dd>
                            <dt>Price:</dt> <dd>{{ctrl.userInfo.dishInfo.price_large | currency}}</dd>
                        </dl>
                      </div>
                    </div>
                </div>
              </span>
          </div>
          <button class="btn btn-primary"
                  ng-disabled="nemoForm.$invalid"
                  ng-click="ctrl.setNemoinfo()">Submit</button>
      </form>
  </fieldset>

  <div ng-if="ctrl.saved">
      <p class="alert alert-success">
          {{ctrl.message}}
      </p>
  </div>
</div>
