<head>
  <link rel="stylesheet" href="css/prettify.css">
  <!-- <link rel="stylesheet" href="css/sunburst.css">
  <script type="text/javascript" src="lib/prettify.js"></script> -->
  <script type="text/javascript" src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>

</head>

<div id="cg-vision" class="widget-object" ng-controller="ViewSourcecodeController as ctrl">

  <h2>Mic Check</h2>
  <pre class="prettyprint">
    <code>
      #include &lt;iostream&gt;

      int main() {
        std::cout << "Hello, Prettify!\n";
      }
    </code>
  </pre>


  <div class="widget-view-sourcecode">

    <button type="button" class="btn btn-warning btn-block" ng-click="isCollapsed = !isCollapsed">View Source Code</button>
  	<hr>
    <div class="well well-lg">
      <uib-tabset active="active">
        <!-- NOTE: the syntax for $index is quirky. it's actually wrong (a bug). -->
        <uib-tab ng-repeat="(tab, path) in ctrl.tabs" index=$index heading={{tab}}><div><pretty-printer source-code="{{path}}"></pretty-printer></div></uib-tab>

        <uib-tab index="2" heading="test">
          <pre class="prettyprint">
            <code>
              #include &lt;iostream&gt;

              int main() {
                std::cout << "Hello, Prettify!\n";
              }
            </code>
          </pre>
        </uib-tab>

      </uib-tabset>

    </div>    <!-- class="well well-lg" -->

  	<div uib-collapse="isCollapsed" ng-if="!isCollapsed">

  	</div>   <!-- uib-collapse="isCollapsed" -->
  </div>    <!-- class="widget-view-sourcecode" -->

</div>    <!-- class="widget-object" -->
