<head>
  <!-- <link rel="stylesheet" href="css/prettify.css"> -->
  <!-- <script type="text/javascript" src="lib/prettify.js"></script> -->
  <script type="text/javascript" src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>
  <link rel="stylesheet" href="css/sunburst.css">

</head>

<div id="cg-vision" class="widget-object widget-sourcecode" ng-controller="ViewSourcecodeController as ctrl">

  <div class="widget-view-sourcecode">

    <button type="button" class="btn btn-warning btn-block" ng-click="isCollapsed = !isCollapsed">Show Source Code</button>
  	<hr>
      <div uib-collapse="isCollapsed" ng-if="!isCollapsed">
        <div class="well well-lg">
          <uib-tabset active="active">
            <!-- NOTE: the syntax for $index is quirky. it's actually wrong (a bug). -->
            <uib-tab ng-repeat="(tab, path) in ctrl.tabs" index=$index heading={{tab}}><div><pretty-printer source-code="{{path}}"></pretty-printer></div></uib-tab>
          </uib-tabset>

          <script type="text/javascript">
                setTimeout(function() {
                    PR.prettyPrint();
                }, 600);
          </script>

        </div>    <!-- class="well well-lg" -->

    	</div>   <!-- uib-collapse="isCollapsed" -->


  </div>    <!-- class="widget-view-sourcecode" -->

</div>    <!-- class="widget-object" -->
